/* begin reset all styling */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, caption, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* end reset all styling */

/* begin utilities */
.w-full {
	width: 100%;
}

.mt-0 {
	margin-top: unset;
}

.mb-0 {
	margin-bottom: unset;
}

.max-w-72 {
	max-width: 18rem;
}

.m-4 {
	margin: 1rem; /* 16px */
}

.mx-4 {
	margin-left: 1rem; /* 16px */
	margin-right: 1rem; /* 16px */
}

.my-4 {
	margin-top: 1rem; /* 16px */
	margin-bottom: 1rem; /* 16px */
}

.ms-4 {
	margin-inline-start: 1rem; /* 16px */
}

.me-4 {
	margin-inline-end: 1rem; /* 16px */
}

.mt-4 {
	margin-top: 1rem; /* 16px */
}

.mr-4 {
	margin-right: 1rem; /* 16px */
}

.mb-4 {
	margin-bottom: 1rem; /* 16px */
}

.ml-4 {
	margin-left: 1rem; /* 16px */
}

.m-5 {
	margin: 1.25rem; /* 20px */
}

.mx-5 {
	margin-left: 1.25rem; /* 20px */
	margin-right: 1.25rem; /* 20px */
}

.my-5 {
	margin-top: 1.25rem; /* 20px */
	margin-bottom: 1.25rem; /* 20px */
}

.ms-5 {
	margin-inline-start: 1.25rem; /* 20px */
}

.me-5 {
	margin-inline-end: 1.25rem; /* 20px */
}

.mt-5 {
	margin-top: 1.25rem; /* 20px */
}

.mr-5 {
	margin-right: 1.25rem; /* 20px */
}

.mb-5 {
	margin-bottom: 1.25rem; /* 20px */
}

.ml-5 {
	margin-left: 1.25rem; /* 20px */
}

.m-6 {
	margin: 1.5rem; /* 24px */
}

.mx-6 {
	margin-left: 1.5rem; /* 24px */
	margin-right: 1.5rem; /* 24px */
}

.my-6 {
	margin-top: 1.5rem; /* 24px */
	margin-bottom: 1.5rem; /* 24px */
}

.ms-6 {
	margin-inline-start: 1.5rem; /* 24px */
}

.me-6 {
	margin-inline-end: 1.5rem; /* 24px */
}

.mt-6 {
	margin-top: 1.5rem; /* 24px */
}

.mr-6 {
	margin-right: 1.5rem; /* 24px */
}

.mb-6 {
	margin-bottom: 1.5rem; /* 24px */
}

.ml-6 {
	margin-left: 1.5rem; /* 24px */
}

.m-7 {
	margin: 1.75rem; /* 28px */
}

.mx-7 {
	margin-left: 1.75rem; /* 28px */
	margin-right: 1.75rem; /* 28px */
}

.my-7 {
	margin-top: 1.75rem; /* 28px */
	margin-bottom: 1.75rem; /* 28px */
}

.ms-7 {
	margin-inline-start: 1.75rem; /* 28px */
}

.me-7 {
	margin-inline-end: 1.75rem; /* 28px */
}

.mt-7 {
	margin-top: 1.75rem; /* 28px */
}

.mr-7 {
	margin-right: 1.75rem; /* 28px */
}

.mb-7 {
	margin-bottom: 1.75rem; /* 28px */
}

.ml-7 {
	margin-left: 1.75rem; /* 28px */
}

.m-8 {
	margin: 2rem; /* 32px */
}

.mx-8 {
	margin-left: 2rem; /* 32px */
	margin-right: 2rem; /* 32px */
}

.my-8 {
	margin-top: 2rem; /* 32px */
	margin-bottom: 2rem; /* 32px */
}

.ms-8 {
	margin-inline-start: 2rem; /* 32px */
}

.me-8 {
	margin-inline-end: 2rem; /* 32px */
}

.mt-8 {
	margin-top: 2rem; /* 32px */
}

.mr-8 {
	margin-right: 2rem; /* 32px */
}

.mb-8 {
	margin-bottom: 2rem; /* 32px */
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.gap-2 {
	gap: 0.5rem; /* 8px */
}

.items-center {
	align-items: center;
}

.items-end {
	align-items: flex-end;
}

.position-relative {
	position: relative;
}

.float-right {
	float: right;
}

.bg-primary { /* override exists class */
	background-color: #f2c236;
}

.font-bold {
	font-weight: 700;
}

.text-xs {
	font-size: 0.75rem; /* 12px */
	line-height: 1rem; /* 16px */
}

.text-sm {
	font-size: 0.875rem; /* 14px */
	line-height: 1.25rem; /* 20px */
}

.text-base {
	font-size: 1rem; /* 16px */
	line-height: 1.5rem; /* 24px */
}

.text-lg {
	font-size: 1.125rem; /* 18px */
	line-height: 1.75rem; /* 28px */
}

.text-xl {
	font-size: 1.25rem; /* 20px */
	line-height: 1.75rem; /* 28px */
}

.shadow-sm {
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.shadow {
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.shadow-md {
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.shadow-lg {
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.shadow-xl {
	box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.shadow-2xl {
	box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.shadow-inner {
	box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

.shadow-none {
	box-shadow: 0 0 #0000;
}

/* end utilities */

/* begin nav */
#top-bar {
	background-color: #d0d0d0;
}

#nav-section {
	background-color: #ededed;
	box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.07);
}

/* end nav */

/* begin grid */
.grid { /* override exists class */
	display: grid;
}

/* end grid */

/* begin card */
.card {
	width: 100%;
	padding: 1rem 1.5rem;
	border-radius: 1rem;
}

/* end card */

/* begin carousel */
.carousel .item {
	background-repeat: no-repeat;
	background-position: left center;
	background-size: cover;
}

.carousel .carousel-caption { /* override exist class */
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 639px) {
	.carousel .slider-title {
		font-size: 3rem;
		line-height: 3rem;
	}
}

/* end carousel */

/* begin badges */
.badge-md {
	padding: 8px 16px;
	border-radius: 100px;
}

.badge-lg {
	padding: 10px 23px;
	border-radius: 100px;
}

.badge-primary {
	background-color: #f2c236;
}

/* end badges */

/* begin property view page */
.property-info {
	order: 1;
}

.property-price {
	order: 2;
}

.property-agent {
	order: 3;
}

.property-title { /* override the exists class */
	margin-top: unset;
	margin-bottom: 1rem;
}

.property-price h2 {
	font-family: monospace;
	font-size: 2rem;
	font-weight: 500;
}

.property-category {
	position: absolute;
	left: 14px;
	top: 14px;
}

.property-image img {
	object-fit: cover;
	border-radius: 1rem;
	width: 100%;
	height: 400px;
}

.property-description ul {
	list-style-type: decimal; /* Changes bullet points to numbers */
	margin: 12px 0px 12px 32px; /* Adjust spacing */
	padding: 0;
}

.property-description li {
	margin-bottom: 4px;
}

@media (max-width: 639px) {
	.property-info {
		order: 2;
	}

	.property-price {
		order: 1;
	}

	.property-price .card, .property-agent .card {
		max-width: 100%;
	}
}

/* end property view page */



