/* begin reset all styling */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, caption, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* end reset all styling */

/* begin utilities */
.w-full {
	width: 100%;
}

.position-relative {
	position: relative;
}

/* end utilities */

/* begin nav */
#top-bar {
	background-color: #d0d0d0;
}

#nav-section {
	background-color: #ededed;
	box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.07);
}

/* end nav */

/* begin carousel */
.carousel .item {
	background-repeat: no-repeat;
	background-position: left center;
	background-size: cover;
}

/* end carousel */

/* begin badges */
.badge-md {
	padding: 8px 16px;
	border-radius: 100px;
}

.badge-lg {
	padding: 10px 23px;
	border-radius: 100px;
}

.badge-primary {
	background-color: #f2c236;
}

/* end badges */

/* begin sticky item */
.sticky {
	position: sticky;
	top: 20px; /* Distance from the top of parent */
	width: 200px;
	background: #007bff;
	color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease; /* Smooth transition for movement */
}


/* Parent container for sticky div */
.parent-container {
	position: relative;
	background-color: #f5f5f5;
	padding: 20px;
	margin-bottom: 50px; /* Space for next section */
	border: 1px solid #ccc;
}

/* Sticky div */
.sticky-div {
	position: sticky;
	top: 20px; /* Distance from the top of parent */
	width: 200px;
	background: #007bff;
	color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease; /* Smooth transition for movement */
}

/* end sticky item */

/* begin property view page */
.property-details {
	margin: 2rem 0;
}

.property-details h4, .property-description h4 {
	margin-bottom: 1rem;
}

.property-title { /* override the exists class */
	margin-top: unset;
	margin-bottom: 1rem;
}

.property-image {
	position: relative;
	margin-bottom: 1rem;
}

.property-category {
	position: absolute;
	left: 14px;
	top: 14px;
}

.property-image img {
	object-fit: cover;
	border-radius: 1rem;
	width: 100%;
	height: 400px;
}

.property-description ul {
	list-style-type: decimal; /* Changes bullet points to numbers */
	margin: 12px 0px 12px 32px; /* Adjust spacing */
	padding: 0;
}

.property-description li {
	margin-bottom: 4px;
}

/* end property view page */



